<h1><%= @article.title %></h1>
<p><%= @article.body %></p>
<!-- articles_path: the route-helper which  -->
<%= link_to "<< Back to Articles List", articles_path %>
<!-- Through some JavaScript tricks, Rails can now pretend that clicking this link triggers a DELETE -->
<%= link_to "delete", article_path(@article), method: :delete, data: {confirm: "Are you sure to delete the article?"} %>

<!-- edit article -->
<%= link_to "edit", edit_article_path(@article) %>
